* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  width: 100vw;
}

#nav {
  height: 8.5vh;
  width: 100%;
  background-color: aqua;
}
a {
  text-decoration: none;
  color: black;
}
nav {
  height: 8.5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(61, 75, 87);
  position: fixed;
}
nav img {
  margin-left: 10px;
}
nav ul {
  list-style: none;
  display: flex;
  /* background-color: aqua; */
}
nav ul li a {
  padding: 20px;
  transition: 1s;
  color: white;
  font-weight: bold;
}
nav p a {
  color: white;
  padding: 10px;
  background-color: rgb(113, 183, 245);
  border: 2px solid rgb(119, 119, 119);
  margin-right: 30px;
}

nav ul li a:hover,
#active {
  padding: 25px;
  color: black;
  background-color: rgb(130, 135, 140);
  border-radius: 3px;
  border-left: 1px solid rgb(42, 42, 42);
  border-right: 1px solid rgb(42, 42, 42);
}
nav p a:hover {
  color: black;
  background-color: rgb(130, 135, 140);
}

header {
  background-image: url(img/img2.jpg);
  background-position: top center;
  background-size: 90% 400px;
  background-repeat: no-repeat;
  transition: 2s;
  animation: head 20s infinite;
  height: 400px;
}

@keyframes head {
  0% {
    background-image: url(img/img1.webp);
    background-position: top center;
    background-size: 90% 400px;
    background-repeat: no-repeat;
  }
  20% {
    background-image: url(img/img2.jpg);
    background-position: top center;
    background-size: 90% 400px;
    background-repeat: no-repeat;
  }
  40% {
    background-image: url(img/img3.jpg);
    background-position: top center;
    background-size: 90% 400px;
    background-repeat: no-repeat;
  }
  60% {
    background-image: url(img/img5.jpg);
    background-position: top center;
    background-size: 90% 400px;
    background-repeat: no-repeat;
  }
  80% {
    background-image: url(img/img4.jpg);
    background-position: top center;
    background-size: 90% 400px;
    background-repeat: no-repeat;
  }
  100% {
    background-image: url(img/img1.webp);
    background-position: top center;
    background-size: 90% 400px;
    background-repeat: no-repeat;
  }
}
header img {
  height: 500px;
}

footer {
  padding: 10px;
  width: 100vw;

  /* height: 500px; */
  background-color: rgba(37, 97, 175, 0.585);
}

footer .container {
  display: flex;
  border-bottom: 3px solid white;
  justify-content: space-between;
}

footer .container .item1,
.item2,
.item3,
.item4 {
  width: 33.3%;
  padding: 20px;
  padding-left: 40px;
  line-height: 1.5;
}

footer .container .item1 img,
.item2 h3,
.item3 h3,
.item4 h3 {
  padding-bottom: 15px;
}

footer .container .item1 p {
  /* line-height: 1.5; */
}

footer .subcontainer {
  padding: 20px;
  margin-bottom: 30px;
}

footer ul {
  list-style: none;
}

.con1 h1,
.con2 h1 {
  margin-top: 10px;
  text-align: center;
}
.con1 hr,
.con2 hr {
  margin: 20px 33.3%;
  height: 2px;
  border: 0;
  background: rgb(138, 138, 138);
}
.con1 p {
  margin: 10px 5%;
  justify-content: center;
  text-size-adjust: 100%;
}

article {
  width: 100vw;
  overflow: hidden;
}
.con2 {
  margin: 20px 0%;
  width: 100vw;
}
.con2container {
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
}
.con2item {
  width: 22.5%;
  height: 520px;
  background-color: rgba(77, 218, 218, 0.358);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 5px;
  margin: 5px;
  overflow-wrap: anywhere;
}
.con2item h2 {
  margin-right: 20px;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  footer {
    background-color: yellow;
    width: 100vw;
  }
  .con2container {
    width: 100vw;
    padding: 20px;
    flex-direction: column;
  }
  .con2item {
    width: 100%;
    padding: 15px;
    flex-wrap: wrap;
  }
}
